.mdl-card{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    font-size:16px;
    min-height:200px;
    overflow:hidden;
    width:330px;
    z-index:1;
    position:relative;
    background:#fff;
    border-radius:2px;
    box-sizing:border-box
}
.mdl-card__media{
    background-color:rgb(255,64,129);
    background-repeat:repeat;
    background-position:50% 50%;
    background-size:cover;
    background-origin:padding-box;
    background-attachment:scroll;
    box-sizing:border-box
}
.mdl-card__title{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    color:#000;
    display:block;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:stretch;
    -webkit-justify-content:stretch;
    -ms-flex-pack:stretch;
    justify-content:stretch;
    line-height:normal;
    padding:16px;
    -webkit-perspective-origin:165px 56px;
    perspective-origin:165px 56px;
    -webkit-transform-origin:165px 56px;
    -ms-transform-origin:165px 56px;
    transform-origin:165px 56px;
    box-sizing:border-box
}
.mdl-card__title.mdl-card--border{
    border-bottom:1px solid rgba(0,0,0,.1)
}
.mdl-card__title-text{
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end;
    color:inherit;
    display:block;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    font-size:24px;
    font-weight:300;
    line-height:normal;
    overflow:hidden;
    -webkit-transform-origin:149px 48px;
    -ms-transform-origin:149px 48px;
    transform-origin:149px 48px;
    margin:0
}
.mdl-card__subtitle-text{
    font-size:14px;
    color:grey;
    margin:0
}
.mdl-card__supporting-text{
    color:rgba(0,0,0,.87);
    font-size:13px;
    line-height:18px;
    overflow:hidden;
    padding:16px;
    width:90%
}
.mdl-card__actions{
    font-size:16px;
    line-height:normal;
    width:100%;
    background-color:transparent;
    padding:8px;
    box-sizing:border-box
}
.mdl-card__actions.mdl-card--border{
    border-top:1px solid rgba(0,0,0,.1)
}
.mdl-card--expand{
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
}
.mdl-card__menu{
    position:absolute;
    right:16px;
    top:16px
}


.mdl-card + .mdl-card {
  margin-top: 40px;
}

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh;
  /* 1 */
  padding-left: 150px;
  width: 100%;
}
.mdl-card--horizontal .mdl-card__media {
  left: 0;
  position: absolute;
}
.mdl-card--horizontal .mdl-card__supporting-text {
  flex: 1 1 auto;
  width: auto;
}

.mdl-card--horizontal-2 {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;
}
.mdl-card--horizontal-2 .mdl-card__title {
  align-items: flex-start;
  flex-direction: column;
  flex: 1 auto;
  float: left;
}
.mdl-card--horizontal-2 .mdl-card__title-text {
  align-self: flex-start;
}
.mdl-card--horizontal-2 .mdl-card__media {
  flex: 0 auto;
  float: right;
  height: 112px;
  margin: 16px 16px 0 0;
  width: 112px;
}
.mdl-card--horizontal-2 .mdl-card__actions {
  clear: both;
  flex: 1 auto;
}
.qualification{
  list-style-type: none;
}